//-------------------------
//----------- BIOGRAPHY
//-------------------------

.biography {
	@extend %clearfix;
	.left,
	.right {
		width: 50%;
		float: left;
		@include breakpoint(mobile) {
			width: 100%;
			float: none;
			margin-bottom: 30px;
		}
	}
	.row {
		@extend %clearfix;
		margin: 50px 0;
		@include breakpoint(mobile) {
			margin: 20px 0;
		}
		&:nth-of-type(2n) {
			.left,
			.right {
				float: right;
				@include breakpoint(mobile) {
					float: none;
				}
			}
			.left {
				padding-right: 0px;
				padding-left: 30px;
				@include breakpoint(desktop--small) {
					padding-left: 15px;
				}
				@include breakpoint(mobile) {
					padding-left: 0;
				}
			}
			.right {
				padding-right: 30px;
				padding-left: 0px;
				@include breakpoint(desktop--small) {
					padding-right: 15px;
				}
				@include breakpoint(mobile) {
					padding-right: 0;
				}
			} 
		}
	}
	h3 {
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 700;
		@include breakpoint(desktop--small) {
			margin-bottom: 20px;
			font-size: 18px;
		}
	}
	ul li {
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 1.3;
		@include breakpoint(desktop--small) {
			font-size: 13px;
		}
	}
	p {
		margin-bottom: 10px;
		font-size: 17px;
		line-height: 1.3;
		letter-spacing: -0.45px;
		@include breakpoint(desktop--small) {
			font-size: 15px;
		}
	}
	.left {
		padding-right: 30px;
		@include breakpoint(desktop--small) {
			padding-right: 15px;
		}
		@include breakpoint(mobile) {
			padding-right: 0;
		}
	}
	.right {
		padding-left: 30px;
		@include breakpoint(desktop--small) {
			padding-left: 15px;
		}
		@include breakpoint(mobile) {
			padding-left: 0;
		}
	}

}