<div id="footer" class="footer">
    <div class="container">
        <h3>Contact me:</h3>
        <ul class="soc">
        	<li><a href="https://www.instagram.com/unanovosel/"><img src="./themes/demo/assets/images/instagram.svg" alt=""><span>unanovosel</span></a></li>
        	<li><a href="#"><img src="./themes/demo/assets/images/email.svg" alt=""><span>some@email.com</span></a></li>
        	<li><a href="#"><img src="./themes/demo/assets/images/telephone.svg" alt=""><span>+381 64 88888888</span></a></li>
        </ul>
    </div>
</div>
